---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import BttsTips from '@components/BttsTips.astro';
import SomaZaidi from '@components/SomaZaidi.astro';

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);

const title = "Mikeka ya Uhakika ya Both Teams to Score"
const desc = "Pata mikeka ya uhakika ya Both Teams to Socore (GG / NG) hapa kila siku. Mikeka ya bure leo, kesho, Jumamosi na Jumapili"
---

<BaseLayout sideBarActiveItemID="btts" title={title} description={desc}>
  <div class="pb-12 mt-5">
    <div class="mb-8">
      <h1 class="lg:text-4xl text-2xl font-bold mb-2">Mkeka wa Both Teams to Score</h1>
      <p>
        Mkeka wa GG/NG au Both Teams to Score (BTTS) ni moja wapo ya mikeka yetu ya kila siku inayofanya vizuri sana. Jipatie bashiri za leo na za kila siku za BTTS au GG/NG na uongeze nafasi yako ya ushindi. Shinda beti zako nasi leo.
      </p>
    </div>
    <hr>
    <BttsTips />
  </div>
<hr>
<SomaZaidi />
</BaseLayout>