---
import SomaZaidi from '@components/SomaZaidi.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import MegaOdds from '@components/MegaOdds.astro';
import BettingSites from '@components/BettingSites.astro';
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="mb-8">
      <h1 class="lg:text-4xl text-2xl font-bold mb-2">Mikeka ya Uhakika</h1>
      <p>
        Karibu Mikeka ya Uhakika, tovuti yako bora kwa vidokezo vya kubeti, utabiri wa mpira wa miguu, na takwimu za kina kwa ligi na michuano mbalimbali. Tunazingatia matokeo ya timu kwenye mechi za hivi karibuni ili kukupa mwongozo bora wa kuchagua mikeka yenye nafasi kubwa ya ushindi. Data zetu za kila siku zinajumuisha: Ushindi wa Mechi (1X2), Zaidi/Chini ya magoli (Over/Under), Magoli Kipindi cha Kwanza (Halftime Goals), na Timu Zote Kufungana (BTTS). Furahia mikeka ya uhakika na uongeze nafasi zako za kushinda leo!
      </p>
    </div>
    <hr>
    <MegaOdds />
  </div>
<hr>
<SomaZaidi />
</BaseLayout>
