---
import SomaZaidi from '@components/SomaZaidi.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import MegaOdds from '@components/MegaOdds.astro';
import BettingSites from '@components/BettingSites.astro';
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="mb-8">
      <h1 class="lg:text-4xl text-2xl font-bold mb-2">Mikeka ya Uhakika</h1>
      <p>
        Pata mikeka ya uhakika yenye asilimia kubwa ya ushindi hapa kila siku. Mikeka yetu imeandaliwa kwa umakini na uchambuzi mkubwa ili kukuhakikishia unasimama katika nafasi kubwa ya ushindi.
      </p>
    </div>
    <hr>
    <MegaOdds />
  </div>
<hr>
<BettingSites />
<SomaZaidi />
</BaseLayout>
