<section class="affiliate my-8 mx-auto max-w-[480px] p-2 rounded" onclick="OpenAff('leonbet')" style="border: 1px solid #e6e3e3; cursor: pointer;">
    <img src="/ads/leonbet.webp" alt="Leonbet Ofa ya Tsh. 5,000 BURE!" class="border rounded">
    <p class="text-slate-500 text-sm text-justify p-1">
        Jisajili leo na <b>Simba la Mikeka!</b> Ujipatie <b>Tsh. 2,000 BURE!</b> Kwa deposit yako ya kwanza na <b>Tsh. 5,000 BURE!</b> Ukipakuwa App yetu.
    </p>
</section>
