---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home - Acca Tips</a></li>
    <li><a class="py-3 text-base" id="over15" href="/over-15">Over 1.5 Tips</a></li>
    <li>
        <a class="py-3 text-base" id="btts" href="/both-teams-to-score">
        Both Teams to Score Tips
    </a>
</li>
    <li>
        <a class="py-3 text-base" id="ht15" href="/under-over-15-first-half">
        Under/Over 1.5 Halftime
    </a>
    </li>
    <li><a class="py-3 text-base" id="blog" href="/blog/">Makala</a></li>
    <li><a class="py-3 text-base" id="about" href="/about">Kuhusu Sisi</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:support@mikekayauhakika.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Wasiliana Nasi</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
