---
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import HorizontalCard from './HorizontalCard.astro'

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---


<section>
  <div>
    <h2 class="text-2xl w-full font-bold mb-2 mt-10">Mikeka Mingine Ya Bure</h2>
</div>

  <HorizontalCard
    title="Mikeka ya Over 1.5"
    img="/mikeka/over15.webp"
    desc="Utabiri wa mpira wa miguu Over 1.5 - Pata mechi zenye nafasi kubwa za kufunga mabao zaidi ya moja. Uhakika wa ushindi na utabiri sahihi kila siku!"
    url="/over-15"
    badge="Over 1.5"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mikeka ya Under/Over First Half"
    img="/mikeka/ht15.webp"
    desc="Utabiri wa leo wa Under/Over 1.5 Halftime – Pata bashiri za mechi za leo, kesho, jumamosi na jumapili kwa chaguo la magoli Under/Over 1.5 kipindi cha kwanza. Utabiri makini kwa ushindi wa haraka!"
    url="/under-over-15-first-half"
    target="_self"
    badge="Total HT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mikeka ya Both teams to score (GG/NG)"
    img="/mikeka/btts.webp"
    desc="Pata mikeka ya uhakika ya Both Teams to Socore (GG / NG) hapa kila siku. Mikeka ya bure leo, kesho, Jumamosi na Jumapili"
    url="/both-teams-to-score"
    target="_self"
    badge="BTTS"
  />
</section>

 <section>
  <div>
    <h2 class="text-2xl w-full font-bold mb-5 mt-10">Makala za Mikeka</h2>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
 </section>