---
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import HorizontalCard from './HorizontalCard.astro'

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---


<div>
    <div class="text-2xl w-full font-bold mb-2 mt-10">Mikeka Mingine Ya Bure</div>
  </div>

  <HorizontalCard
    title="Mikeka ya Over 1.5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="/over-15"
    badge="Over 1.5"
    target="_self"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mikeka ya Under/Over First Half"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="/under-over-15-first-half"
    target="_self"
    badge="Total HT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mikeka ya Both teams to score (GG/NG)"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="/both-teams-to-score"
    target="_self"
    badge="BTTS"
  />

  <div>
    <div class="text-2xl w-full font-bold mb-5 mt-10">Makala za Mikeka</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }